<h1>Elements de ton panier</h1>
<% @cart.items.each do |item| %>
  <p>Item: <%= item.title %></p> 
<% end %>
<%= link_to "Confirmer commande", cart_path(@cart.id), class: "btn btn-info", :method => "put" %>

