<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> bravo pour ta commande !</h1>
    <p>
      Voilà le récapitulatif de ta commande:
    </p>
    <p>
      <% cart_details = @order.cart.cart_details %>
      <% cart_details.each do |cart_detail| %>
      Item: <%= cart_detail.item.title %>
      <br>
      Photo de ton chaton:
      <br>
      <img src="https://ecommerce-thp-dev.herokuapp.com<%= Rails.application.routes.url_helpers.rails_blob_path(cart_detail.item.avatar, only_path: true) %>">
      <br>
      <% end %>
    </p>
    <p> À très vite sur monsite.fr !</p>
  </body>
</html>
